@font-face {
    font-family: "Dos like";
    src: url(dosstyle.ttf);
}

body {
    margin: 0px;
    color: #FFFFFF;
    background: #0000ad;
    font-family: "Dos like";
    overflow: hidden;
}

#container {
    width: calc(100% - 20px);
    margin:  0px 10px;
    display: block;
    float: left;
}

.innerContainer {
    width: calc(100% - 10px);
    padding: 5px 0px 5px 10px;
    min-height: 5vh;
    line-height: 5vh;
    font-size: 4vh;
    display: block;
    float: left;
}

.conDiv {
    display: block;
    float: left;
    height: 100%;
    padding-right: 5px;
}

#gameArea {
    display: block;
    float: left;
    padding: 5px 0px 5px 10px;
}